* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body, html {
  height: 100%;
  background: linear-gradient(135deg, #2c0475, #2a0331);
overflow-x: hidden;
  overflow-y: hidden;
}

#mensagemCadastro {
  display: none;
  text-align: center;
  margin-top: 15px;
  font-size: 18px;
}

.container {
  display: flex;
  height: 100vh;
  background: linear-gradient(135deg, #2c0475, #2a0331);
  color: #fff;
  position: relative;
}

/* Responsividade - mobile */
 @media (max-width: 767px) {
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 100vh;
    overflow: hidden;
  }

  .secao-cadastro {
    width: 100%;
    max-width: 360px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
  }
  .secao-cadastro h1 {
    font-size: 1.4rem;
    margin-bottom: 10px;
    white-space: nowrap;
  }

  .input_cadastro {
    margin-bottom: 10px;
  }

  .input_cadastro p {
    font-size: 0.9rem;
    margin-bottom: 4px;
  }

  .input_cadastro input {
    padding: 10px;
    font-size: 0.9rem;
  }

  button {
    padding: 10px;
    font-size: 1rem;
  }
  .secao-cadastro a {
    font-size: 0.8rem;
    margin-top: 10px;}

  .secao-imagem {
    display: none !important; 
  } 
}


 /* Responsividade - Ipads */
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    height: auto;
  }

  .secao-cadastro {
    width: 100%;
    max-width: 650px; 
    padding: 20px;
    text-align: center;
  }

  .secao-cadastro h1 {
    font-size: 2rem;
    white-space: normal; 
    margin-bottom: 20px;
  }

  .secao-cadastro p {
    font-size: 1.1rem;
    margin-bottom: 20px;
  }

  .input_cadastro input {
    font-size: 1rem;
    padding: 14px;
  }

  button {
    font-size: 1.1rem;
    padding: 14px;
  }

  .secao-cadastro a {
    font-size: 0.9rem;
    margin-top: 15px;
  }

  .secao-imagem {
    display: none !important;
  }
}



.secao-cadastro {
  flex: 0.9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 70px;
}

.secao-cadastro h1 {
  font-size: 4rem;
  margin-bottom: 12px;
}

.secao-cadastro p {
  margin-bottom: 30px;
  font-size: 1.2rem;
}

.input_cadastro {
  margin-bottom: 20px;
}

.input_cadastro input {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 25px;
  outline: none;
  font-size: 1rem;
}

button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 25px;
  background: #fff;
  color: #5a00ff;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background: #f2f2f2;
  transform: scale(1.05);
}

.secao-cadastro a {
  display: block;
  margin-top: 20px;
  color: #fff;
  text-decoration: underline;
}

.secao-imagem {
  flex: 1;
  /* background-color: #f2f2f2; */
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.secao-imagem img {
  width: 120%;
  height:120%;
  object-fit: contain;
  margin-right: 10vw;
}

span {
  display: flex;
  margin-left: 10px;
  padding-top: 3px;
}