* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: #f0f0f5;
  height: 100dvh;
  display: flex;
  overflow-y: hidden;
}

.container {
  display: flex;
  width: 100%;
}

.conteudoPrincipal {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

  .confirm-box h3{
    color: #24a4f4 !important;
  }
  .user-card {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 500px;
  }
  
  .user-card h1 {
    font-size: 24px;
    margin-bottom: 30px;
    color: #333;
  }
  
  .info-bloco {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .info-bloco label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
  }
  
  .input-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .input-wrapper input {
    flex: 1;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #fdfdfd;
    color: #333;
    font-size: 14px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.05);
  }

  .info-bloco input {
    padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fdfdfd;
  color: #333;
  font-size: 14px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.05);
}

.input-wrapper button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
}

.input-wrapper img {
  width: 18px;
  height: 18px;
  display: block;
}

.confirm-box {
  display: none;
  margin-top: 15px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.confirm-box h3 {
  margin-bottom: 10px;
  color: #c62828;
}

.confirm-box p {
  margin-bottom: 10px;
  font-size: 14px;
}

.confirm-box input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #bbb;
  border-radius: 6px;
}

.confirm-buttons {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.confirm-buttons button {
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}


.confirm-buttons button:first-child {
  background-color: #e53935;
  color: white;
}

.confirm-buttons button:last-child {
  background-color: #ccc;
  color: #333;
}

.delete-bloco {
  margin-top: 30px;
  text-align: center;
}

#botaoDeletar {
  background-color: rgb(197, 52, 52);
  padding: 8px;
  border-radius: 5px;
  border: none;
    color: white;
  }
  .iconepessoa {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
    margin-top: 10px;
    margin-bottom: 100%;
  }
  #confirmarDelete h3{
  color: red !important;
  
  }
  #confirmarDelete button{
    background-color: rgb(197, 52, 52);
  padding: 8px;
  border-radius: 5px;
  border: none;
    color: white;
  
  }
  #voltarbt{
    background-color: #24a4f4 !important;
  }