body {
    display: flex;
    height: 100dvh;
    overflow-y: hidden;
    overflow-x: hidden;
}

.grafico {
  height: 350px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.conteudo {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 0;
    /* background-color: chartreuse; */
}

.classHitorico {
    /* background-color: aqua; */
    width: 100%;
    height: 8.5%;
    color: #6b7280;
    margin-bottom: 1.5%;
    border-bottom: 1px solid #d1d5db;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 0.9rem;
}

.classHitorico span a {
    color: #6b7280;
    text-decoration: none;
}

#buttonCompararEscola{
    margin: 0;
    border: none;
    background-color: #4600C2;
    color: #ffffff;
    padding: 7px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px #6b7280;
}

#buttonCompararEscola:hover{
    background-color: #5711d3;
    color: #ffffff;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
}

.classKpis {
    /* background-color: blue; */
    width: 90%;
    height: 18%;
    display: flex;
    justify-content: space-between;
}

.classKpis .classKpi {
    /* background-color: aliceblue; */
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 4px 3px rgba(0, 0, 0, 0.2);
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 12px;
    padding: 10px;
}

.classKpi2 {
    text-align: center;
}

.classKpi3 .kpi-value {
    text-align: center;
}

.kpi-value {
    font-size: large;
}

.classGraficoPrincipal {
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 4px 3px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70% !important;
    width: 90%;
    margin-bottom: 1.5%;
    margin-top: 1.5%;
    border-radius: 12px;
    padding: 10px;
}

#canvasGraficoPrincipal {
    width: 90% !important;
    height: 95% !important;
    /* background-color: blueviolet; */
}

.variacao2 {
    color: green;
}

.variacao3 {
    color: green;
}

.variacao1 {
    color: red;
}

