* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body,
html {
  overflow: hidden;
  height: 100dvh;
}

.dashboard {
  display: flex;
  height: 100vh;
  width: 100vw;
}

#nomeUser {
  display: flex;
  position: absolute;
  top: 15%;
  font-size: 19px;
  text-decoration: underline;
}

#nomeEmpresa {
  display: flex;
  position: absolute;
  top: 20%;
  font-size: 19px;
  text-decoration: underline;
}

.classHitorico {
  width: 100%;
  height: 10%;
  color: #6b7280;
  border-bottom: 1px solid #d1d5db;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 0.9rem;
}

/* .cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Roboto, sans-serif;
  border-bottom: 2px solid #2a0331;
  padding-bottom: 10px;
  padding-top: 10px;
} */
/* 
.cabecalho h1 {
  font-size: 2rem;
  padding-left: 20px;
} */



.barraLateral-esquerda {
  width: 12vw;
  min-width: 12vw;
  height: 100vh;
  background-color: #2a0331;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
}

.conteudo-central {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  gap: 20px;
}

.menu-lateral {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.btn-menu {
  display: block;
  background-color: rgba(71, 48, 75, 0.493);
  border-radius: 15px;
  border: none;
  /* font-size: 1.3rem; */
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background 0.3s ease;
  color: white;
}

.btn-menu a {
  color: white;
  text-decoration: none;
}

.btn-menu:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}

#btn-empresa {
  display: none;
}

.sair-section {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.iconepessoa {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
  margin-top: 10px;
}

.barraLateral-direita {
  width: 12%;
  background-color: #2a0331;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conteudo {
  padding: 20px;
  height: 100%;
  width: 100vw;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin: 0;
  padding: 30px;
}

.linha-graficos {
  display: flex;
  width: 98% !important;
  gap: 20px;
  margin: 0;
  padding: 10px;
  height: 90%;
}

.linha1 {
  height: 45%;
}

.linha2 {
  height: 45%;
}

.grafico {
  font-family: 'Segoe UI', Roboto, sans-serif;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

/* Estilos para o container dos KPIs */
.kpis {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
}

.kpi-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48%;
  width: 100%;
}

.kpi-line-bottom {
  display: flex;
  justify-content: space-between;
  font-size: small;
}

.kpi-line-bottom .kpi {
  width: 30%;
}


/* Estilo para cada KPI individual */
.kpi {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 100%;
  width: 30%;
}

.kpi-title {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 600;
}

.kpi-value {
  font-size: larger;
  font-weight: 700;
  color: #2a0331;
  margin: 5px 0;
}

.kpi-subtitle {
  font-size: small;
  color: #777;
  text-align: center;
}

.kpi-ref-ano {
  font-size: small;
  color: #aaa;
}

.positive {
  color: #28a745 !important;
}

.negative {
  color: #dc3545 !important;
}

.neutral {
  color: #6c757d !important;
}

@media (max-width: 768px) {
  .dashboard {
    flex-direction: column;
  }

  .barraLateral-esquerda,
  .barraLateral-direita {
    width: 100%;
    height: 60px;
    font-size: 0.4rem;
  }

  .conteudo {
    padding: 10px;
  }

  .linha-graficos {
    flex-direction: column;
  }

  .grafico {
    width: 100%;
    margin-bottom: 20px;
  }
}

#mapaCalorGeo {
  width: 100%;
  height: 300px;
}