.modal {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  z-index: 1000;

  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 12px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  position: relative;
  font-family: 'Segoe UI', sans-serif;
}

.modal-content h2{
  color: #2a0331;
}

.close {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 24px;
  color: #333;
  cursor: pointer;
}

form label {
  display: block;
  margin-top: 15px;
  font-weight: 600;
  color: #333;
}

form input[type="text"],
form textarea,
form select {
  width: 100%;
  padding: 10px 12px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  background-color: #fff;
  box-sizing: border-box;
}

form textarea {
  resize: vertical;
  min-height: 80px;
}

form button {
  margin-top: 20px;
  padding: 12px 20px;
  background-color: #0078d4;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #2a0331;
}
