
.btn-abrir-chamado {
  background-color: #2a0331; 
  color: #fff;
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-abrir-chamado:hover {
  background-color: #2c0475; }
