*{
      font-family: 'Segoe UI', sans-serif;
}

body, html {
  height: 100vh;
  background: linear-gradient(135deg, #2c0475, #2a0331);
overflow-x: hidden;
  overflow-y: hidden;
}

.modalToken {
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-self: center;
    align-items: center;
    margin-top: 35vh;
    height: 120px;
    padding: 0.5%;
    background-color: rgb(191, 191, 191);
    border-radius: 20px;
}

#perguntaToken {
    /* border: 1px solid black; */
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#botoesToken {
    /* border: 1px solid black; */
    display: flex;
    margin-top: 20px;
    width: 50%;
    height: 35px;
    justify-content: space-evenly;
}

#mensagemToken {
    font-size: 25px;
}

#botao1 {
    width: 25%;
    background-color: green;
    border-radius: 10px;
    border-style: none;
    box-shadow: 1px 1px 5px black;
}

#botao1:hover {
    width: 26%;
    transition: 0.5s;
}

#botao2 {
    width: 25%;
    background-color: red;
    border-radius: 10px;
    border-style: none;
    box-shadow: 1px 1px 5px black;
}

#botao2:hover {
    width: 26%;
    transition: 0.5s;
}

.modalVincular {
    border: 1px solid white;
    display: none;
    flex-direction: column;
    width: 40%;
    justify-self: center;
    align-items: center;
    margin-top: 30vh;
    padding: 1%;
    background-color: rgb(191, 191, 191);
    border-radius: 20px;
    box-shadow: 0 0 10px black;
}

#tituloVincular {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mensagemTokenParaInserir {
    font-size: 25px;
}

#inputTokenBox {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}

#inputToken {
    width: 70%;
    height: 30px;
    border-radius: 8px;
    border: none;
    padding-left: 10px;
    box-shadow: 1px 1px 5px black;
    text-align: center;
}

#mensagemVincularBox {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    height: 25px;
}

#mensagemInsertToken {
    font-size: 18px;
}

#botoesVincular {
    display: flex;
    margin-top: 20px;
    justify-self: center;
    width: 50%;
    height: 35px;
    justify-content: space-evenly;
}

#botaoVincular {
    width: 30%;
    background-color: green;
    border-radius: 10px;
    border-style: none;
    box-shadow: 1px 1px 5px black;
    color: white;
    font-size: 16px;
}

#botaoVoltar {
    width: 30%;
    background-color: red;
    border-radius: 10px;
    border-style: none;
    box-shadow: 1px 1px 5px black;
    color: white;
    font-size: 16px;
}